# .NET
bin/
obj/
out/
publish/
publish-standalone/
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.csproj.user

# NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json
**/[Pp]ackages/*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/
.idea/

# Rider
.idea/

# Avalonia
*. Designer.cs

# OS
.DS_Store
Thumbs.db
